@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,300&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  border: 1px solid red;
}

.App {
  min-height: 100vh;
  margin: 0 5%; 
}
