@import "variables.scss";

.FormContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  margin: 20px 50px;
  // select {
  //   appearance: none;
  // }
}

.MainGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 20px;
  font-size: $homepage-font-size;

  .CountryCard {
    width: 250px;
    height: 350px;
    overflow: hidden;
    border-radius: 3px;
    // box-shadow: 0px 1px 2px $light-mode-input;
    text-decoration: none;
    margin: 20px;
    img {
      width: 100%;
      height: 167px;
      object-fit: cover;
    }
    h2 {
      font-size: $homepage-font-size * 2;
    }
    h2,
    p {
      margin-left: 15px;
    }
  }
}
.InlineHeading {
  font-weight: 800;
}
.TextLink {
  color: inherit;
  text-decoration: inherit;
}
.BackBtnContainer {
  width: 95%;
  margin: 50px auto;
}
.CountryDetailsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  // margin: 20px;
  font-size: $detail-font-size;
  .CountryDataContainer {
    min-width: 400px;

    width: 45%;
    .CountryData {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-around;
    }
  }
  h2 {
    font-size: $detail-font-size * 2;
  }
  img {
    min-width: 400px;
    width: 45%;
  }
}

